.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  font-family: 'Caveat', cursive;
  background-color: #fff;
}


.hero-section {

  background-image: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8.25rem 4.125rem;
}

font-family: 'Abril Fatface', cursive;
font-family: 'Anton', sans-serif; titulo exp
font-family: 'Caveat', cursive; texto en general
font-family: 'Pacifico', cursive; para el fuuter



 header {
   width: 100%;
   height: auto;
 }

 a.navbar-brand {
   width: 137px;
   height: 46px;
   font-size: 37px;
   font-family: 'Abril Fatface', cursive;
   padding: 0;
   margin: 0;
   color: #00000047  !important;
 }

 a.nav-link {
  font-size: 18px;
  color: #010c196e !important;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
}

 nav {
   font-family: 'Abril Fatface', cursive;
   background-color: #b6d4fa24 !important;
 }



 .text-center{
   text-align: right  !important;
 }

 h1{
   font-size: 1.5rem;
 }

.container{

  padding-right: 126px;
  padding-left: 56px;
}


@media (min-width: 768px){
  .hero-section {

    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14.25rem 8.125rem;
  }

  .img-fluid{
    width: 435px;
    height: 465px;

  }

  span{
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
  }

  p{
    font-family:  'Caveat', cursive;
    font-size: 23px;
    padding-top: 3px;
    text-align: justify;
  }

}
